.main{
    background-image: url('https://i.imgur.com/LtcEtQs.jpeg');
}
.container{
    background-color: white;
}
.space-y-2{
    background-color: white;
}
.image{
    background-image: url('https://i.imgur.com/bRJ9Eki.jpeg');
}