.marker {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.marker-map {
  background-image: url("../../../assets/svg/Logo.svg");
}

.marker-good {
  background-image: url("../../../assets/image/Logo.png");
}

.marker-moderate {
  background-image: url("../../../assets/image/moderate.png");
}

.marker-usg {
  background-image: url("../../../assets/image/usg.png");
}

.marker-unhealthy {
  background-image: url("../../../assets/image/unhealthy.png");
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl {
  visibility: hidden !important;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#map-background,
#map-container,
#map-overlay,
#content {
  width: 100%;
  min-height: 100%;
  position: absolute;
}
#map-background {
  z-index: -1;
}
#map-container {
  z-index: 0;
}
#map-overlay {
  z-index: 1;
  background: none;
}
#content {
  z-index: 0;
}
