input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
